.profile__edit-btn {
    background-image: url('../../../images/edit-button.svg');
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: black;
    background-repeat: no-repeat;
    margin-left: 18px;
    align-self: center;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width:650px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        background-size: contain;
        padding-right: 18px;
    }
}