.header__link{
    border:0px;
    font-family: Inter,Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: right;
color: #FFFFFF;
background-color: black;
align-self: flex-start;
padding:6px 0 0;
text-decoration:none;

}

.header__button:focus{
    outline:none;
}