.popup__input {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 9px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 30px 36px 0;
    outline: none;
}

.popup__input:first-of-type {
    margin-top: 0;
}

@media screen and (max-width:645px) {
    .popup__input {
        margin: 30px 22px 0;
    }
}