.popup__container {
    background-color: white;
    width: 430px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (max-width:645px) {
    .popup__container {
        width: 282px;
    }
}